<!doctype html>
<html lang="en" style="height: 100%;
margin: 0;
display: flex;
flex-direction: column;">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Coffee Shop</title>
</head>

<body style="
background-image: url('{{ fondo.image }}');
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
margin: 0;
height: 100%;
display: flex;
flex-direction: column;">

  <nav class="navbar navbar-expand-lg navbar-light  bg-light">
    <a class="navbar-brand" href="">CAFETERÍA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="inicio">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home" style="color: black;">menu</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: black;">
            Opciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Cancelar compra</a>
            <!--<a class="dropdown-item" href="#">Estado de envio</a>-->
            <div class="dropdown-divider"></div>
            <ul>
              {% for post in posts %}
              {% if post.pk %}
              <li>
                <a style="text-decoration: none;" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
              </li>
              {% else %}
              <li>
                <span>Post sin ID válido</span>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            <ul> 
              {% if user.is_authenticated %} <li> <form method="post" action="{% url 'logout' %}"> {% csrf_token %} <button type="submit" style="background: none; border: none; color: #007bff; text-decoration: underline; cursor: pointer; padding: 0;"> Cerrar Sesión </button> </form> </li> {% else %} <li><a href="{% url 'login' %}">Iniciar Sesión</a></li> <li><a href="{% url 'signup' %}">Registrarse</a></li> {% endif %}
            </ul>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="ShoppingCars" tabindex="-1" aria-disabled="true"
            style="color: black; background-image: url('https://th.bing.com/th/id/OIP.g4gJ2ofCdliajaa-s22VDgHaHa?rs=1&pid=ImgDetMain'); background-size: cover; width: 2.5rem; border-radius: 18px; height:2.5rem;"></a>
        </li>

      </ul>
      <h4 class="text-center" style="color: rgb(13, 12, 12); padding-right: 5%;">Cafe para sentirse bien</h4>
      <form class="form-inline my-2 my-lg-0" method="GET">
        <input class="form-control mr-sm-2" type="Buscar" placeholder="Buscar" aria-label="Buscar" name="Buscar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>

  <div class="contenedor" style="flex: 1;">

    <div class="container" style="margin-top: 2.8rem;">
      {% block content %}
      {% endblock %}
    </div>
  </div>


  <footer style="color: aliceblue; background-color: rgb(37, 34, 29);  bottom: 0px; width: 100%;">
    <div class="row">
      <div class="col">
        <div style="width: 18rem;  background-color: rgb(37, 34, 29);">
          <div class="card-body">
            <h6>CAFETERÍA</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="width: 18rem;  background-color:  rgb(37, 34, 29);">
          <div class="card-body">
            <b>Sobre nosotros</b><br>
            <p>Ubicaciones<br>Envios</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="width: 18rem; background-color:  rgb(37, 34, 29);">
          <div class="card-body">
            <b>Ayuda</b><br>
            <p>Cel: 771123456<br>correo: CoffeeShop@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="width: 18rem;  background-color:  rgb(37, 34, 29);">
          <div class="card-body">
            <b>Tienda</b><br>
            <p>devoluciones<br>Ofertas</p>
          </div>
        </div>
      </div>

  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>