<title>home</title>
{% extends 'base.html' %}

{% block content %}

<div class="row">
  {% if no_results %} <!--bloque de los resultados de busquedas-->
  <div class="col">
    <div class="card"
      style="width: 50%; border-radius: 18px;  background-color: rgb(245, 231, 214); margin-top: 10rem; margin-bottom: 4rem; ">
      <div class="card-body">
        <h3>No se encontro alguna coincidencia !!!</h3>
      </div>
    </div>
  </div>
  {% else %}


  {% for coffee in coffee %} <!--bloque de nuestra para las bebidas-->
  <div class="col">
    <div class="card"
      style="width: 18rem; border-radius: 18px; padding: 5px; margin-bottom: 5px; background-color: rgba(187, 248, 234, 0.883);">
      <img src="{{ coffee.image }}" class="card-img-top" alt="..."
        style="border-top-left-radius: 18px; border-top-right-radius: 18px;">
      <div class="card-body">
        <h5 class="card-title">{{ coffee.name }}</h5>
        <p class="card-text">${{ coffee.price }}</p>
        <!-- <a href="{% url 'order_coffee' coffee.id %}" class="btn btn-primary">Añadir al carrito</a> -->
        {% if user.is_authenticated %}
        <a href="{% url 'order_coffee' coffee.id %}" class="btn btn-primary">Añadir al carrito</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Añadir al carrito</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}